__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
.git
.gitignore
.dockerignore
.pytest_cache
.coverage
*.egg-info/
dist/
build/
notebooks/
data/raw/
data/processed/
deployment/
.vscode
.idea
*.md
