name: MLops CI Workflow
on:
    push:
        branches: [main]
        paths:
            - "src/**"
            - "tests/**"

    pull_request:
        branches: [main]
        paths:
            - "src/**"
            - "tests/**"

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11.14"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
